html, body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  /* background: #E5E7EB; */
  color: #E5E7EB;
}

html {
  background: rgb(7, 15, 24);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}